:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#app {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.p-24 {
  padding: 24px;
}

.p-12 {
  padding: 12px;
}
.p-8 {
  padding: 8px;
}

.h-full {
  height: 100%;
}

.w-full {
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
}

.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}

.screen {
  width: 100vw;
  height: 100vh;
}

.bg-w {
  background-color: #fff;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* color */
:root {
  --menu_bg-color: #ffffff;
  --content_bg-color: #f9fafe;
}
